{% load static %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web con el objetivo de apobar la asignatura de sistemas software basados en web">
    <meta name="author" content="Ángel Valera Motos">
    <!-- --------------------------------------------------------------------------- -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/shop-homepage.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- --------------------------------------------------------------------------- -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- --------------------------------------------------------------------------- -->
    <title>Visitas Granada</title>
</head>

<body>
    {% block navigation%}
    <!-- Navigation -->    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Visitas Granada</a>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <button type="button" class="btn btn-info btn-sm disabled" data_but="btn-xs"><i
                            class='fa fa-user-circle'></i> {{ user.username }}</button>
                </li>                               
                {% endif %}
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">                    
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_visita' %}"><i class="fa fa-plus"></i> Añadir Visita</a>
                        </li>
                        {% endif%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout <i class="fa fa-sign-out"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login <i class="fa fa-sign-in"></i></a>
                        </li>  
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav><!-- Navigation -->
    {% endblock %}
    <!-- --------------------------------------------------------------------------- -->
    {% block header%}
    <!-- Header -->
    <div class="jumbotron jumbo_img">
        <div class="container">     
            <img src="{{ MEDIA_URL }}fotos/ugr.png" style="height: auto;" width="150px" height="150px">
            <div class="row">
                <div class="col-lg-2 linDatos font-weight-bold">
                    <p>{%block totalVisitas%}{%endblock%}</p>
                </div>
                <div class="col-lg-2 linDatos font-weight-bold">
                    <p>{%block totalComentarios%}{%endblock%}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 cabDatos"><p>Visitas</p></div>
                <div class="col-lg-2 cabDatos"><p>Comentarios</p></div>                               
            </div>
        </div>    
    </div><!-- Header -->
    {% endblock %}
    <!-- --------------------------------------------------------------------------- -->
    <!-- Page Content -->
    <div class="container">        
        {% block content %}

        {% endblock %}        
    </div><!-- /.container -->
    <!-- --------------------------------------------------------------------------- -->
    <!-- Footer -->
    {% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div><!-- /.container -->
    </footer> <!-- Footer -->
    {% endblock %}
    <!-- --------------------------------------------------------------------------- -->
</body>

</html>