{% load thumbnail %}
{% load static %}
{% if lista_visitas %}
 <ul>
     {% for visita in lista_visitas %}
        <!--<img src="{{ MEDIA_URL }}{{ visita.foto.name}}" width="150px" height="150px"> -->
       
        {% thumbnail visita.foto "250x250"  as im %}
            <img src="{{ MEDIA_URL }}{{ im.name }}"             
                width="{{ im.width }}" 
                height="{{ im.height }}">
        {% endthumbnail %}


        <li>{{ visita.nombre }}</li>
        <li>{{ visita.descripcion }}</li>
        <li>{{ visita.likes }}</li>
     {% endfor %}
 </ul>
 {% else %}
 <p>No visits are available.</p>
 {% endif %}

 <i class="fas fa-thumbs-up"></i>